body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
  margin-top: 0.2em;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #FA382F;
  padding: 4px;
  margin-bottom: 1.5em;
  letter-spacing: .1rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

h4 {
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

h5 {
  color: #FA382F;
  text-align: center;
  font-size: 1.5em;
  margin: 3.5em 0 1em 0;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background: #080045;  
}

/*** HEADER SECTION ***/

.thin {
  font-weight: 300;
}

.hero-image {
  background-image: url(./assets/paint2.jpg);
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;  
}

.hero-text {
  width: 280px;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 20%;
  color: #ffffff;
  opacity: 1;
}

.ragna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  top: 20%;
  right: 5%;
}

.circle {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 20px;
  height: 20px;
  padding: 8px;
}

.ragna img {
  width: 200px;
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
  top: 10em;
  right: 6em;
}

/*** INTRO SECTION ***/

.intro {
  border-top: 2px solid #ffffff;
  background-color: #f4f4f4;
  width: 100%;
  padding: 3em 0;
}

.intro-txt {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  display: flex;
  font-size: 1em;
  line-height: 1.8em;
  position: relative;
}

/*** TECH SECTION ***/

.tech {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tech-txt {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.8em;
  position: relative;
  text-align: center;
}

.red {
  color: #FA382F;
}

/*** FEATURED PROJECTS SECTION ***/
 
.featured {
  padding-top: 4em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f4f4f4;
  width: 100%;
  
}

.featured-wrapper {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* max-width: 800px; */
}

.card {
  padding: 0.7em 0 1em 0;
  margin: 0 1em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  text-align: start;
  min-width: 300px;
  position: relative;
}

.image-box {
  position: relative;
  width: 100%;
}

.image-box img{
  width: 100%;
  object-fit: cover;
  object-position: 50% 40%;
  max-height: 202px;
}

.over-image {
  transition: 0.5s ease;
  opacity: 1;
  top: 50%;
  left: 50%;
  text-align: center;
  background: #FA382F;
}


.project-name {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  background-color: #072BCE;
}

.project-description {
  font-family: 'Roboto', sans-serif;
  font-size: 0.85em;
  padding-top: 1em;
  padding-bottom: .8em;
  text-decoration: none;
  color: black;
}

.project-description:hover {
  color: #FA382F;
}

.red-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #FA382F;
}

.underlined {
  font-size: 1.1em;
  text-decoration: underline solid #FA382F;
}

.red-bold-underlined {
  text-decoration: underline solid #FA382F;
}

.tags {
  font-size: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tag {
  background-color: #FDDFE7;
  padding: 3px 10px 3px 10px;
  margin: 3px; 
}

.other-projects {
  width: 100%;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 4em;
}

.other-pro-container {
  padding-bottom: 1em;
  text-align: left;
}

.other-pro-container .project-description {
  margin: 0.2em 0 0.5em 0;
  text-decoration: underline;
}

/*** MY THOUGHTS ***/

.my-thoughts {
  width: 100%;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-thoughts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* max-width: 800px; */
}

.thought-card {
  padding: 0.7em 0 1em 0;
  margin: 0 1em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: start;
  min-width: 300px;
}

.red-on-hover:hover {
  color: #FA382F;
}

.red-thin {
  font-weight: 200;
  color: #FA382F;
  margin: 1em 0 0 0;
}

.red-underline {
  text-decoration: underline solid #FA382F;
}

.articles-by-me {
  font-family: 'Roboto', sans-serif;
  font-size: 0.85em;
  margin-top: 1em;
}

.articles-by-me p {
  line-height: 1.5em;
  font-weight: 200;
  margin: 0;
}

.more-thoughts-container {
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.more-thoughts-list {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1em;
  margin: 0.7em 0;
}

/*** SKILLS SECTION ***/

.skills-section {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2em;
}

.column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.column {
  width: 150px;
  flex-direction: row;
  text-align: center;
  padding: 0em 2em 2em 2em;
}

.column p {
  font-size: .8em;
}

/*** FOR MORE SECTION ***/

.for-more-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2em;
}

.circles-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.circle-red {
  border: 2.5px solid #FA382F;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 40px 20px 40px;
  justify-content: center;
  align-items: center;
}

.circles-red p {
  font-size: .8em;
  text-align: center;
}

.icons-red {
  width: 32px;
  height: 32px;
  padding: 8px;
}


/*** CONTACT ***/

.contact-section {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #072BCE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.contact-text {
  padding: 5em 0 10em 0;
  margin: 0;
  align-self: center;
  text-align: center;
  font-weight: 300;
  line-height: 2em;
}

.contact {
  color: #ffffff;
}

.contact-text p {
  margin: 0;
}


@media (max-width: 1386px) {
  .featured-wrapper {
    max-width: 80%;
  }

  .card {
    max-width: 30%;
  }
}

@media (max-width: 1038px) {
  .featured-wrapper {
    max-width: 90%;
  }
  
  .card {
    max-width: 300px;
  }
}

@media (max-width: 924px) {
  .featured-wrapper {
    max-width: 100%;
  }
  .card {
    max-width: 200px;
  }

  .hero-image {
    height: 500px;
  }

  .ragna img {
    top: 17em;
  }
}


@media (max-width: 811px) {
  .ragna img {
    width: 180px;
  }

  .hero-image {
    height: 500px;
  }
}

@media (max-width: 730px) {
  .column-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 681px) {
  .hero-text {
    left: 5%;
  }

  .heading-short {
    display: none;
  }
}

@media (max-width: 400px) {
  .thought-card {
    min-width: 250px;
  }
}

@media (max-width: 495px) {
  h2 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.5em;
  }

  .hero-text {
    top: 20%;
  }

  .ragna img {
    left: -2em;
  }

  .circles-red {
    flex-direction: column;
  }

}


@media (max-width: 390px) {
  h2 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }

  .hero-image {
    height: 560px;
  }

  .hero-text {
    top: 25%;
  }

  .ragna img {
    top: 23em;
    width: 150px;
  }

  .card {
    min-width: 250px;
  }
}

/* .for-more-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2em;
}

.circles-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4em;
} */

/* .skills-section {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2em;
}

.column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.column {
  width: 150px;
  flex-direction: row;
  text-align: center;
  padding: 0em 2em 2em 2em;
}

.column p {
  font-size: .8em;
} */